.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: relative;
  max-width: 175px;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.dashboard-card-content {
  text-align: center;
}

.calendar-card {
  position: absolute;
  max-width: 1000px;
  top: 78px;
  left: 240px;
  right: 5px;
  bottom: 5px;
}
